:root {
    --bg-color: #FFE3EC; /* Default background color for light mode */
    --text-color: black;   /* Default text color for light mode */
  }

body {
    background: var(--bg-color);
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: var(--text-color);
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 3rem;
	text-align: center;
	color: var(--text-color);
	font-family: 'Protest Revolution', sans-serif;

}

/*loader*/
#preloader {
    background: var(--bg-color);
    width: 100vw;
    height: 100vh;
    top: 0;
    aspect-ratio: 1;
    z-index: 100;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  .loading {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 0 0;
    animation: load 2s infinite steps(10), rotate 4s infinite linear;
  }
  
  @keyframes load {
    to { object-position: 100% 0; }
  }
  
  @keyframes rotate {
    to { rotate: -360deg; }
  }

  
/*light/dark theme switch*/
.navbar {
    justify-content: right;
}
input {
	display: block;
	margin-bottom: 1.5em;
}
.l {
    float: right;
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
}

/*buttons*/

* {
	box-sizing: border-box;
  }
  
  :root {
	--bg: hsl(0 0% 6%);
	--fg: hsl(0 0% 90%);
  }
  
  body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	align-content: center;
	gap: 1rem;
  }
  
  button {
	--button-bg: var(--bg);
	--button-fg: var(--fg);
	--hover-bg: var(--fg);
	color: var(--button-fg);
	font-family: sans-serif;
	padding: 1rem 2rem;
	border-radius: 100px;
	border: 2px solid var(--button-fg);
	background: var(--button-bg);
	cursor: pointer;
	touch-action: none;
	position: relative;
	overflow: hidden;
  }
  
  button:nth-of-type(2) {
	--button-bg: var(--fg);
	--hover-bg: var(--fg);
	color: var(--bg);
  }
  
  button .back {
	position: absolute;
	inset: 0;
	pointer-events: none;
	overflow: hidden;
	border-radius: 100px;
  }
  
  .back > span {
	left: calc(var(--x, 0) * 1px);
	top: calc(var(--y, 0) * 1px);
	width: 50%;
	display: inline-block;
	aspect-ratio: 1;
	background: red;
	transform: translate(-50%, -50%) scale(var(--active, 0));
	transition: transform 0.25s;
	background: var(--hover-bg);
	position: absolute;
	pointer-events: none;
	overflow: hidden;
	mix-blend-mode: difference;
	border-radius: 50%;
  }
  
  button:is(:hover, :focus-visible) {
	--active: 1.5;
  }
  
  button:active {
	--active: 3;
  }
  
  button:active .back > span {
	transition: transform 0.15s;
  }
  
  @supports (transition-timing-function: linear(0, 1)) {
	button:is(:hover, :focus-visible) .back > span {
	  transition-duration: 0.5s;
	  transition-timing-function: linear(
		0, 0.5007 7.21%, 0.7803 12.29%,
		0.8883 14.93%, 0.9724 17.63%,
		1.0343 20.44%, 1.0754 23.44%,
		1.0898 25.22%, 1.0984 27.11%,
		1.1014 29.15%, 1.0989 31.4%,
		1.0854 35.23%, 1.0196 48.86%,
		1.0043 54.06%, 0.9956 59.6%,
		0.9925 68.11%, 1
	  );
	}
  }