:root {
    --bg-color: #FFE3EC; /* Default background color for light mode */
    --text-color: #e75480;   /* Default text color for light mode */
	--button-color: #e75480;
  }

body {
    background: var(--bg-color);
	font-family: 'Montserrat', sans-serif;
}

.container-class {
	margin-top: 7rem;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: var(--text-color);
	font-family: 'Montserrat', sans-serif;
}

h2 {
	font-size: 3rem;
	text-align: center;
	color: var(--text-color);
	font-family: 'Protest Revolution', sans-serif;
	position: absolute;
	bottom: 0;
	left: 50%; /* Center the text horizontally */
    transform: translateX(-50%); /* Adjust for centering */
}

/*loader*/
#preloader {
    background: var(--bg-color);
    width: 100vw;
    height: 100vh;
    top: 0;
    aspect-ratio: 1;
    z-index: 100;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  .loading {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 0 0;
    animation: load 2s infinite steps(10), rotate 4s infinite linear;
  }
  
  @keyframes load {
    to { object-position: 100% 0; }
  }
  
  @keyframes rotate {
    to { rotate: -360deg; }
  }

  
/*light/dark theme switch*/
.navbar {
    justify-content: right;
}
input {
	display: block;
	margin-bottom: 1.5em;
}
.l {
    float: right;
	background-color: rgba(0,0,0,0.7);
	border-radius: 0.75em;
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
	color: #fdea7b;
	display: inline-flex;
	align-items: center;
	margin: auto;
	padding: 0.15em;
	width: 3em;
	height: 1.5em;
	transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.l:before, .l:after {
	content: "";
	display: block;
}
.l:before {
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.2em;
	height: 1.2em;
	transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	z-index: 1;
}
.l:after {
	background:
		linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
		repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
		radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
	background-repeat: no-repeat;
	border: 0.25em solid transparent;
	border-left: 0.4em solid #d8d8d8;
	border-right: 0 solid transparent;
	transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
	transform: translateX(-22.5%);
	transform-origin: 25% 50%;
	width: 1.2em;
	height: 1em;
}
/* Checked */
.l:checked {
	background-color: rgba(0,0,0,0.45);
	box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
	background-color: currentColor;
	transform: translateX(125%)
}
.l:checked:after {
	border-left-color: currentColor;
	transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
	/* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
	outline: 0;
}

/*buttons*/
  button {
	margin: 20px;
  }
  .custom-btn {
	width: 160px;
	height: 60px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 50;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	justify-content: center;
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
  }

  .align-center {
	display: flex;
	justify-content: center;
  }

  
/* 6 */
.btn-6 {
	background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
	line-height: 62px;
	font-size: 20px;
	padding: 0;
	border: none;
  }
  .btn-6 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
	position: absolute;
	content: "";
	height: 0%;
	width: 1px;
   box-shadow:
	 -1px -1px 20px 0px rgba(255,255,255,1),
	 -4px -4px 5px 0px rgba(255,255,255,1),
	 7px 7px 20px 0px rgba(0,0,0,.4),
	 4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6:before {
	right: 0;
	top: 0;
	transition: all 500ms ease;
  }
  .btn-6:after {
	left: 0;
	bottom: 0;
	transition: all 500ms ease;
  }
  .btn-6:hover{
	background: transparent;
	color: var(--button-color);
	box-shadow: none;
  }
  .btn-6:hover:before {
	transition: all 500ms ease;
	height: 100%;
  }
  .btn-6:hover:after {
	transition: all 500ms ease;
	height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
	position: absolute;
	content: "";
	box-shadow:
	 -1px -1px 20px 0px rgba(255,255,255,1),
	 -4px -4px 5px 0px rgba(255,255,255,1),
	 7px 7px 20px 0px rgba(0,0,0,.4),
	 4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6 span:before {
	left: 0;
	top: 0;
	width: 0%;
	height: .5px;
	transition: all 500ms ease;
  }
  .btn-6 span:after {
	right: 0;
	bottom: 0;
	width: 0%;
	height: .5px;
	transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
	width: 100%;
  }
  .btn-6 span:hover:after {
	width: 100%;
  }

  
/* 7 */
.btn-7 {
	background: linear-gradient(0deg, var(--button-color), 0%, var(--button-color) 100%);
	  line-height: 62px;
	  font-size: 20px;
	  padding: 0;
	  border: none;
	}
	.btn-7 span {
	  position: relative;
	  display: block;
	  width: 100%;
	  height: 100%;
	}
	.btn-7:before,
	.btn-7:after {
	  position: absolute;
	  content: "";
	  right: 0;
	  bottom: 0;
	  background: var(--button-color);
	  box-shadow:
	   -7px -7px 20px 0px rgba(255,255,255,.9),
	   -4px -4px 5px 0px rgba(255,255,255,.9),
	   7px 7px 20px 0px rgba(0,0,0,.2),
	   4px 4px 5px 0px rgba(0,0,0,.3);
	  transition: all 0.3s ease;
	}
	.btn-7:before{
	   height: 0%;
	   width: 2px;
	}
	.btn-7:after {
	  width: 0%;
	  height: 2px;
	}
	.btn-7:hover{
	  color: var(--button-color);
	  background: transparent;
	}
	.btn-7:hover:before {
	  height: 100%;
	}
	.btn-7:hover:after {
	  width: 100%;
	}
	.btn-7 span:before,
	.btn-7 span:after {
	  position: absolute;
	  content: "";
	  left: 0;
	  top: 0;
	  background: var(--button-color);
	  box-shadow:
	   -7px -7px 20px 0px rgba(255,255,255,.9),
	   -4px -4px 5px 0px rgba(255,255,255,.9),
	   7px 7px 20px 0px rgba(0,0,0,.2),
	   4px 4px 5px 0px rgba(0,0,0,.3);
	  transition: all 0.3s ease;
	}
	.btn-7 span:before {
	  width: 2px;
	  height: 0%;
	}
	.btn-7 span:after {
	  height: 2px;
	  width: 0%;
	}
	.btn-7 span:hover:before {
	  height: 100%;
	}
	.btn-7 span:hover:after {
	  width: 100%;
	}
	
	.answer--yes {
		background-image: url('images/transparent-yippee.gif');
		background-repeat: no-repeat;
		background-attachment: fixed;
  		background-position: center;
		background-size: 800px;
		position: fixed;
		z-index: 9;
		visibility: hidden;
		opacity: 0;
		transition: opacity .5s ease-in-out;
	}

	/* body {
		background-image: url('url.gif');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	  } */
	
	  @media only screen and (max-width: 600px) {
		.answer--yes {
			background-size: 600px;
		}
	  }